<div class="page-header">
  <h3>Aisle #<%= @aisle.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/aisles" class="btn btn-primary">
        Back
      </a>
      <a href="/aisles/<%= @aisle.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_aisle/<%= @aisle.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Aisle has many ingredients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ingredients
      </li>

      <% @aisle.ingredients.each do |ingredient| %>
        <li class="list-group-item">
          <a href="/ingredients/<%= ingredient.id %>">
            <%= ingredient.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ingredients/<%= ingredient.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ingredients/<%= ingredient.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ingredient/<%= ingredient.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_ingredient" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for aisle_id -->
      <input type="hidden" name="aisle_id" value="<%= @aisle.id %>">

      <!-- Label and input for list -->
      <div class="checkbox">
        <label for="list">
          <input type="checkbox" id="list" name="list" value="1" <%= "checked" if @ingredient.list %>>
          List
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Ingredient
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
