<div class="page-header">
  <h1>
    Ingredient ascs
    <a href="/ingredient_ascs/new" class="btn btn-lg btn-success">New Ingredient asc</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Ingredient</th>
        <th>R</th>
        <th>Actions</th>
      </tr>

      <% @ingredient_ascs.each do |ingredient_asc| %>
      <tr>
        <td><%= ingredient_asc.ingredient.name %></td>
        <td><%= ingredient_asc.recipe.description %></td>
        <td>
          <a href="/ingredient_ascs/<%= ingredient_asc.id %>" class="btn btn-primary">Show</a>
          <a href="/ingredient_ascs/<%= ingredient_asc.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_ingredient_asc/<%= ingredient_asc.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @ingredient_ascs, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
