<div class="page-header">
  <h3>Ingredient #<%= @ingredient.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @ingredient.name %></dd>

      <dt>Aisle</dt>
      <dd><%= @ingredient.aisle_id %></dd>

      <dt>List</dt>
      <dd><%= @ingredient.list %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ingredients" class="btn btn-primary">
        Back
      </a>
      <a href="/ingredients/<%= @ingredient.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ingredient/<%= @ingredient.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Ingredient has many ingredient_ascs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ingredient Ascs
      </li>

      <% @ingredient.ingredient_ascs.each do |ingredient_asc| %>
        <li class="list-group-item">
          <a href="/ingredient_ascs/<%= ingredient_asc.id %>">
            <%= ingredient_asc.ingredient_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ingredient_ascs/<%= ingredient_asc.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ingredient_ascs/<%= ingredient_asc.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ingredient_asc/<%= ingredient_asc.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_ingredient_asc" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ingredient_id -->
      <input type="hidden" name="ingredient_id" value="<%= @ingredient.id %>">

      <!-- Label and input for r_id -->
      <div class="form-group">
        <label for="r_id" class="control-label">
          R
        </label>

        <%= select_tag(:r_id, options_from_collection_for_select(Recipe.all, :id, :description), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Ingredient Asc
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
